@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}



/* header css  */
/* .custom__header::before{
    
        background: green;
        content: "";
        height: 100%;
        left: -5px;
        position: absolute;
        top: 0;
        width: 5px;
        z-index: 99;
    
}
.custom__header::before, .custom__header::after {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #03717f;
    border-top: 5px solid transparent;
    bottom: -6px;
    content: "";
    height: 0;
    left: -5px;
    position: absolute;
    width: 5px;
} */
/* slider arrow  */

.slick-prev,
.slick-next {

    width: 30px !important;
    height: 30px !important;
    opacity: 1;
    line-height: 50px !important;
  background-color: green !important;
    z-index: 9999;
    border-radius: 50% !important;
}

.slick-prev {
    left: 5px !important;
}

.slick-next {
    right: 5px !important;
}

/* polities section  */

.react-tabs__tab-list {
    border-bottom: 1px solid green !important;
   
}

/* card custom hover  */
/* .custom__hover:hover img{
opacity: .7 !important;
} */
.custom__hover:hover h2{
    color: rgb(207, 21, 21) !important;
}


